@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;
  @apply text-gray-950 dark:text-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  width: fit-content;
  min-width: 100vw;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  /* Revert Tailwind default changes */
  ul, ol, blockquote {
    list-style: revert;
    margin-left: 12px;
  }
}
